@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
	body {
		@apply bg-[#f4f7fd];
	}
}

@layer utilities {
	.hide-scrollbar {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.bg-primary {
		@apply bg-[#1A3D70];
	}
}
